body {
  background-color: #4863F9;
}
div {
  text-align: center;
  font-size: 30px;
  font-family: "Trattatello", fantasy;
}
h2 {
  margin-top: -40px;
  text-align: center;
  font-size: 25px;
  font-family: "Trattatello", fantasy;
}
#rotating-item-wrapper {
  position: relative;
  width: 640px;
  height: 425px
}
.rotating-item {
  display: none;
  position: absolute;
}
p {
  text-align: center;
  font-size: 25px;
  font-family: "Trattatello", fantasy;
}
#wplogo {
  position: center;
  width: 400px;
  height: 400px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#panel, #flip {
  padding: 5px;
  text-align: center;
  background-color: #e5eecc;
  border:soloid 1px#c3c3c3;
}
#panel {
  padding: 50px;
  display: none;
}
